.env.backup
.env.production
.phpunit.result.cache
/.fleet
/.idea
/.idx/.data
/.idx/.data
/.idx/data
/.phpunit.cache
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public/customers/*
/storage/app/public/payment/*
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
yarn.lock
