* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apexcharts */
.apexcharts-tooltip.apexcharts-theme-light {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* Slider Produk Terlaris */
.swiper-slide:first-child {
  margin-left: 16px;
}

.swiper-slide:last-child {
  margin-right: 16px;
}

.truncate-20-chars {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Menentukan jumlah baris */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* End Slider Produk Terlaris */
